body {
  background-color: whitesmoke;
  margin: 20px;
}

.container {
  display: flex;
  gap: 20px;
}

.box {
  width: 100%;
  height: 200px;
  background-color: lightcoral;
  margin-bottom: 20px;
}

.lbox {
  flex: 0 0 20%;
  min-height: 500px;
  background-color: lightgreen;
}

.rbox {
  flex: 1 1 80%;
  min-height: 500px;
  background-color: slateblue;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
